body {
  margin: 0;
  background: #516975;
}
#graph-container {
  top: 150px;
  bottom: 50px;
  left: 50px;
  right: 50px;
  position: absolute;
  background: #fff;
}
#container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: #ccc;
}